.input-card {
  min-width: 500px;
}

.header {
  padding-bottom: 10px;
}

.positioning {
  position: fixed;
  width: 100%;
  padding: 24px;
  backdrop-filter: blur(10px);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-indicator {
  margin-right: 8px;
}
