.conversation-container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 800px;
  padding-top: 24px;
  padding-bottom: 160px;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.chatbot-message-container {
  align-items: end;
  justify-content: end;

  .card {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }
}

.date-display {
  font: var(--mat-sys-body-small);
  opacity: 50%;
}

.card {
  width: 80%;
  font: var(--mat-sys-body-medium);
}

.card-content {
  white-space: pre-wrap;
}

